<html layout:decorate="~{layout/layout}"
	  layout:fragment="conteudo"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container">

	<h1 class="mt-4 mb-3">Funcionarios
		<small>Formulário</small>
	</h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a th:href="@{/admin}">Dashbord</a>
		</li>
		<li class="breadcrumb-item">Motoboy</li>
		<li class="breadcrumb-item active">Formulário</li>
	</ol>
	<div class="row">
		<div class="col-md-12 mb-4">
			<form th:object="${motoboyTO}" th:action="@{/admin/motoboys/novo}" method="post">
				<input type="hidden" th:field="*{id}">
				<div class="form-group">
					<label for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}">
					<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:style="'color:red; padding:5px'"/>
				</div>
				<div class="form-group">
					<label for="telefone">Telefone</label>
					<input type="text" class="form-control" id="telefone" th:field="*{telefone}">
					<div th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" th:style="'color:red; padding:5px'"/>
				</div>
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
		</div>
	</div>
</div>
</html>
