<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" th:href="@{/admin}">
            <th:block layout:include="layout/fragments/icon-white"/>
            LaLa Pizza Delivery
        </a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/clientes}">Clientes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/produtos}">Produtos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/categorias}">Categorias</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/motoboys}">Motoboys</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/funcionarios}">Funcionários</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/relatorios}">Relatórios</a>
				</li>

			</ul>
		</div>
	</div>
</nav>

</html>
