<!DOCTYPE html >
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title></title>

    <th:block th:include="layout/fragments/head"/>
</head>
<body>
<main>
    <th:block th:include="layout/fragments/navbar"/>


    <th:block layout:fragment="conteudo"/>

</main>
<th:block th:include="layout/fragments/footer"/>

<th:block th:include="layout/fragments/js-fragment"/>
</body>
</html>