<html layout:decorate="~{layout/layout}"
	  layout:fragment="conteudo"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container">

	<h1 class="mt-4 mb-3">Categorias
		<small>Formulário</small>
	</h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a th:href="@{/admin}">Dashbord</a>
		</li>
		<li class="breadcrumb-item">Categorias</li>
		<li class="breadcrumb-item active">Formulário</li>
	</ol>
	<div class="row">
		<div class="col-md-4 mb-4">
			<form th:object="${categoriaTO}" th:action="@{/admin/categorias/novo}" method="post">
                <input type="hidden" th:field="*{id}">
				<div class="control-group form-group">
					<div class="controls">
						<label for="nome">Nome</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}">
						<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:style="'color:red; padding:5px'"/>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
		</div>
	</div>
</div>
</html>
